body {
  background: rgb(210, 226, 230);
  font-family: "Quicksand", sans-serif;
  color: rgba(40, 40, 41, 0.6);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(113, 111, 116, 0.08);
  width: 100%;
}
.search-value {
  background-color: transparent;
  border: none;
  border-bottom: solid 1.5px rgba(40, 40, 41, 0.4);
  color: rgba(40, 40, 41, 0.4);
  font-size: 20px;
  padding: 20px 5px 5px 5px;
  margin-left: 40px;
  width: 75%;
}
::placeholder {
  color: rgba(40, 40, 41, 0.4);
  font-family: "Quicksand", sans-serif;
}
.search-button {
  font-family: "Noto Emoji", sans-serif;
  background-color: transparent;
  color: rgba(40, 40, 41, 0.4);
  margin-left: 5px;
  padding: 15px;
  font-size: 40px;
  border: none;
}

.current-city {
  margin: 10px 40px;
  font-size: 40px;
  font-weight: lighter;
  color: rgb(114, 172, 197);
}
.current-date-container {
  margin: 20px 40px;
  font-size: 20px;
  font-weight: lighter;
}
.current-weather-container {
  display: flex;
  font-size: 100px;
  margin-left: 70px;
  color: rgb(114, 172, 197);
}
.current-temperature {
  margin-left: 200px;
  font-weight: lighter;
}
.celsium {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 70px;
}
.current-emoji {
  margin-right: 40px;
}

.current-info-container {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 50px;
  font-size: 17px;
}
.emoji {
  font-family: "Noto Emoji", sans-serif;
  margin: 10px 10px 0px 50px;
}

footer {
  padding-top: 20px;
  border-top: solid 1.5px rgba(40, 40, 41, 0.1);
  text-align: center;
  font-size: 14px;
  color: rgba(40, 40, 41, 0.6);
  margin-left: 40px;
  margin-right: 40px;
}
a {
  color: rgb(92, 151, 176);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin: 30px 40px 20px 40px;
  border-top: solid 1.5px rgba(40, 40, 41, 0.1);
}
.weather-forecast-day {
  padding: 15px 25px 15px 25px;
  background-color: rgba(170, 226, 240, 0.15);

  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 450;
}
.weather-forecast-icon {
  font-size: 35px;
  margin-top: 10px;
}
.weather-forecast-temperatures {
  margin-top: 10px;
}
.weather-forecast-temperature-max {
  margin-right: 2px;
  font-weight: 600;
}
